.form-label {
    font-family: system-ui;
}

.form-control {
    border-radius: var(--bs-border-radius-xl);
    background: transparent;
    border-color: #2073ab;
}

.form-control:focus {
    background: transparent;
    border-color: #1275b7;
    box-shadow:#077ecd;
}

.btn-primary {
    margin: 20px 0;
    width: 100%;
    border-radius: var(--bs-border-radius-xl);
    --bs-btn-bg: #1275b7;
    --bs-btn-hover-bg: #077ecd;
    --bs-btn-active-bg: #077ecd;
}


.link_to_share {
    font-size: medium;
    text-align: left;
    padding: 40px;
    color: #28292b;
}

.link_to_share a {
    color: #1275b7;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    min-width: 100%;
}
