.container {
    margin-top: 150px;
}

.found-secret {
    padding: 10px 0;
}

h2 {
    font-size: revert-layer;
    text-align: left;
    color: #28292b;
}

h3 {
    font-size: medium;
    text-align: left;
    color: #1275b7;
}